* {
    font-family: "Noto Sans KR", sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#live2d_canvas {
    border: 0.2rem dotted lightcoral;
    box-sizing: border-box;
}

.RightPanel {
    background: darkgrey;
    border: 0.2rem dotted #3C3F41;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.GroupHeader {
    margin-bottom: 0.1rem;
}

.GroupPanel {
    display: flex;
    flex-direction: column;
}

.List {
    background: #FFFFFF;
    min-height: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Entry {
    margin: 0;
}

#input_field {
    /*width: calc(100% - 6em);*/
    display: flex;
    flex: 1;
    min-width: 0;
}

#input_btn {
    width: 5em
}

#console {
    background: #3C3F41;
    overflow-y: scroll;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#header {
    text-align: center;
}

#vert_hor_switcher {
    display: flex;
    min-height: 0;
    flex: 1;
    /* preventing it going negative - https://css-tricks.com/flexbox-truncated-text/ */
}

.UrlBox {
    display: flex;
    flex-direction: row;
}


@media all and (orientation: landscape){
    #live2d_canvas {
        float: left;
        margin: 1em;
        width: calc(75% - 1.5em);
        height: calc(100% - 2em);
    }

    .RightPanel {
        float: right;
        margin: 1em 1em 1em 0;
        width: calc(25% - 1.5em);
        height: calc(100% - 2em);
    }

    .GroupPanel {
        margin: 1rem;
        max-height: 10rem;
    }

    #header {
        margin-bottom: 0.5rem;
        font-size: 1em;
    }

    #vert_hor_switcher {
        flex-direction: column;
    }
}


@media all and (orientation: portrait){
    #live2d_canvas {
        margin: 1em;
        width: calc(100% - 2em);
        height: calc(75% - 1.5em);
    }

    .RightPanel {
        margin: 0 1em 1em 1em;
        width: calc(100% - 2em);
        height: calc(25% - 1.5em);
    }

    .GroupPanel {
        margin: 0.5rem;
        /*max-height: 5rem;*/
    }

    #console {
        margin-top: 0.5rem;
    }

    #header {
        font-size: 1.2em;
    }

    #vert_hor_switcher {
        flex-direction: row;
    }

    .List {
        flex: 1;
    }
}

.Log {
    margin: 0.25em 0.5em 0.25em 0.5em;
    word-break: break-all;
}

.Lvl0 {
    color: lightskyblue;
}

.Lvl1 {
    color: lightgreen;
}

.Lvl2 {
    color: yellow;
}

.Lvl3 {
    color: red;
}
